@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var details = {
        getKeyValue: function () {
            return $.request("keyValue");
        },
        initControl: function () {
            $("#gradeGuid").bindSelect({
                url: "/UserManagement/Grade/GetSelectorJson",
                id: "gradeGuid",
                text: "gradeName",
                search: true
            });
        },
        ajaxData: function () {
            details.initControl();
            if (!!details.getKeyValue()) {
                $.ajax({
                    url: "/UserManagement/Class/GetFormJson",
                    data: { keyValue: details.getKeyValue() },
                    method: "POST",
                    async: false,
                    dataType: "json",
                    success: function (data) {
                        $("#frmModule").formSerialize(data);
                    }
                })

            }
        },
        submitForm: function () {
            if (!$("#frmModule").formValid()) {
                return false;
            }
            $.submitForm({
                url: "/UserManagement/Class/SubmitForm?keyValue=" + details.getKeyValue(),
                param: $("#frmModule").formSerialize(),
                success: function () {
                    $.currentWindow().$("#gridList").resetSelection();
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            })
        }
    };
    $(function () {
        details.ajaxData();
    })
</script>
<form id="frmModule">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">基本信息</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">班级名称</th>
                    <td class="formValue" colspan="3">
                        <input id="softClassName" name="softClassName" type="text" class="form-control required" placeholder="请输入班级名称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">年级名称</th>
                    <td class="formValue" colspan="3">
                        <select id="gradeGuid" name="gradeGuid" class="form-control required">
                            <option value="">==请选择==</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" align="top" style="padding-top: 5px;">
                        备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="remarks" name="remarks" class="form-control" style="height: 100px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>

