@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var module = {
        initControls: function () {
            $("#jobNumber").val(module.getRequestValue("jobNumber"));
            $("#TeacherName").val(module.getRequestValue("name"));
        },
        submitForm: function () {
            if (!$('#frmInsModule').formValid()) {
                return false;
            }
            var postData = $("#frmModule").formSerialize();
            postData["userPassword"] = $("#TeacherPwd").val();
            postData["keyValue"] = module.getRequestValue("keyValue");
            $.submitForm({
                url: "/UserManagement/Instructor/ResetPassword",
                param: postData,
                success: function () {
                    $.loading(false)
                }
            })
        },
        getRequestValue: function (key) {
            var value = $.request(key);
            return value;
        }
    }
    $(function () {
        module.initControls();
    })
</script>
<form id="frmInsModule">
    <div style="padding-top: 30px; margin-right: 40px;">
        <table class="form">
            <tr>
                <th class="formTitle">账户</th>
                <td class="formValue">
                    <input id="jobNumber" name="jobNumber" readonly type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">姓名</th>
                <td class="formValue">
                    <input id="TeacherName" name="TeacherName" readonly type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">密码</th>
                <td class="formValue">
                    <input id="TeacherPwd" name="TeacherPwd" type="password" class="form-control required" placeholder="请输入新密码" />
                </td>
            </tr>
        </table>
    </div>
</form>
